
*{
    font-family: 'Roboto', sans-serif;
}

.color{
    color: #7f888f;
}

header hr{
    background-color: #f56a6a;
    height: 0.3em;
}

.acomodar{
    float: right;
    margin: 20px;
    height: 250px;
    width: 250px;
}

.button{
    text-decoration: none;
    padding: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;   
    padding-left: 30px;
    font-weight: 600;
    font-size: 20px;
    color: #f56a6a;
    border:2px solid #f56a6a;
    border-radius: 6px;
    cursor: pointer;
    margin: 5px;
}

.button:hover{
    color: green;
    border:2px solid goldenrod;
    cursor: pointer;
}

.container ul{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 10px;
    list-style: none;
}
.container ul li{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    list-style: none;
}
.item{
    padding: 20px;
    text-align: left;
}

  .fit{
    float: right;
    color: #7f888f;
    margin: 0;
    padding: 0;
  }
.paragraph{
    color: #7f888f;
    text-align: justify;
}

hr.lol{
    width: 15em;
    height: 0.3em;
    background-color: #f56a6a;
    border-color: #f56a6a;
    margin-left: 0;
}
.fa-gem{
      color: #f56a6a;
      font-size: 5em;
      float: left;
      text-align: center;
      margin-top: 10%;
  }
  .fa-paper-plane{
    color: #f56a6a;
    font-size: 5em;
    float: left;
    text-align: center;
    margin-top: 10%;
  }
  .fa-signal{
    color: #f56a6a;
    font-size: 5em;
    float: left;
    text-align: center;
    margin-top: 10%;
  }
  .fa-rocket{
    color: #f56a6a;
    font-size: 5em;
    float: left;
    text-align: center;
    margin-top: 10%;
  }
  .bold{
      font-weight: bold;
      font-size: 25px;
  }
  .nike{
      padding: 30px;
  }